body, ul {
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.homeWrap {
    width:100%;
    height: 110vh;
    position: absolute;
    background: rgb(213,255,240);
    background: radial-gradient(circle, rgba(213,255,240,1) 0%, rgba(199,199,199,0.25253851540616246) 100%);
}
.titleHome {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin-top: 5%;
    position: absolute;
    top:10%;
    left: 41%;
    color: black;
}
.titleHome h2 {
    color: green;
}
.cardDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16%;
    margin-left: 5.75%;
    background: none;
    position: relative;
    bottom: 80%;
}
.card1{
    width: 30%;
    height: 200px;
}
.card1 .button1 {
    width: 350px;
    height: 200px;
    border: 1px solid green;
    background: none;
}
.button1:hover {
    box-shadow: 0 4px 8px 0 rgba( 12, 102, 7, 0.2), 0 6px 20px 0 rgba( 12, 102, 7, 0.19);
    color: green;
    border-radius: 4%;
    transition: all 0.3s ease;
}
.card2 {
    width: 30%;
    height: 200px;

}
.card2 .button2 {
    width: 350px;
    height: 200px;
    border: 1px solid green;
    background: none;
}
.button2:hover {
    box-shadow: 0 4px 8px 0 rgba( 12, 102, 7, 0.2), 0 6px 20px 0 rgba( 12, 102, 7, 0.19);
    color: green;
    border-radius: 4%;
    transition: all 0.3s ease;
}
.card3 {
    width: 30%;
    height: 200px;
}
.card3 .button3 {
    width: 350px;
    height: 200px;
    border: 1px solid green;
    background: none;
}
.button3:hover {
    box-shadow: 0 4px 8px 0 rgba( 12, 102, 7, 0.2), 0 6px 20px 0 rgba( 12, 102, 7, 0.19);
    color: green;
    border-radius: 4%;
    transition: all 0.3s ease;
}