body, ul {
    margin: 0;
    padding: 0;
}
.Page {
    width: 100%;
    z-Index: -1;
    height: 100vh;
    background: rgb(57,195,97);
    background: radial-gradient(circle, rgba(57,195,97,1) 0%, rgba(165,255,188,1) 100%);
}
.Register {
    width: 18%;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    right: 40%;
    top: 20%;
}
.Register .Card  {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    margin-top: 5%;
    z-Index: 2;
    text-align: center;
}
.Card h2 {
    margin-bottom: 15%;
}
.Card Input {
    text-align: center;
    margin-bottom: 12%;
}
.Card Button {

    display: flex;
    justify-content: center;
    width: 70%;
    color:green;
    height: 60px;
    margin-left: 16%;
    margin-top: 12%;
    background: none;
    border: 1px solid green;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba( 12, 102, 7, 0.2), 0 6px 20px 0 rgba( 12, 102, 7, 0.19);
}
.Card Button:hover {
    box-shadow: 0 4px 8px 0 rgba( 12, 102, 7, 0.2), 0 6px 20px 0 rgba( 12, 102, 7, 0.19);
    border:none;
    background: rgb(161,255,188);
    background: radial-gradient(circle, rgba(161,255,188,0.8463760504201681) 0%, rgba(190,255,206,0) 61%);
    color: forestgreen
}
.Card p {
    text-align: center;
    margin-top: 5%;
}
.bgWrap {
    z-Index: -1;
    height: 150vh;
}