body, ul {
    margin: 0;
    padding: 0;
}
.wrap {
    width: 100%;
}
.cardBox1 {
    border: 1px solid black;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}
.cardBox1 h2 {
    color: green;
}
.cardBox1 .type {
    width: 40%;
    height: 150px;
    background: rgb(76,0,147);
    background: linear-gradient(312deg, rgba(76,0,147,0.8015581232492998) 0%, rgba(245,245,245,1) 50%, rgba(17,255,0,0.804359243697479) 100%);
    border-radius: 5%;
    
}
